:root{
    /* Colores Base */
    --color-50: #f2f7fb;
    --color-100: #e7f0f8;
    --color-200: #d3e2f2;
    --color-300: #b9cfe8;
    --color-400: #9cb6dd;
    --color-500: #839dd1;
    --color-600: #6a7fc1;
    --color-700: #6374ae;
    --color-800: #4a5989;
    --color-900: #414e6e;
    --color-950: #262c40;
}